<!-- app/templates/home/index.html -->
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="container" style="padding-top: 50px;padding-bottom: 50px">
  <div class="intro-header" style="background: url(../../../static/img/background.png) no-repeat center center;">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Neural Composer</h1>
          <h3>Lyric Composing Machine Trained with Deep Learning</h3>
          <hr class="intro-divider">
          <h4>Search for past lyrics composed by Neural Composer!</h4>
          <form class="pure-form">
            <input type="text" class="pure-input-rounded" name="term" placeholder="Enter a key phrase">
                <button id="submit-btn" type="submit" class="pure-button" style="background-color: #FF4200;">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}